{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}


{% block body %}

{% for message in app.flashes('ok') %}
    <div style="background-color:chartreuse;color:#f0f;border:5px dotted red;margin:1em; padding:1em;">
        <marquee>{{ message }}</marquee>
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div style="alert alert-sucess">
        {{ message }}
    </div>
{% endfor %}

<h3>Liste de nos articles</h3>
<a href="{{ path('app_post_add2') }}"><button class="addArticle">Ajouter</button></a>
    <article class="articleMain">
{% for currentPost in postList %}
    <div class="articleContent">
    {% if currentPost.poster %}
    <img class ="imageMain" src="{{ asset(currentPost.poster) }}" alt="">
    {% endif %}
    <a href="{{ path('app_post_read', {id: currentPost.id})}}">{{ currentPost.title }}</a>
    </div>
{% endfor %}
    </article>


</ul>
{% endblock %}
