{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<a href="{{ path('app_post') }}">Retour</a>
<h1>{{ post.title}}</h1>
<span>{{ post.nbLikes }} &hearts;</span>
<p>
    {{ post.body }}
</p>
<footer>
    <p>Publié le {{ post.publishedAt|date('d/m/Y') }}</p>
    {% if post.author %}
    <p>Ecrit par : {{post.Author.firstname}} {{post.Author.lastname}}</p>
    {% endif %}
    <p></p>
</footer>
{% endblock %}
